SMARTSHEET_ACCESS_TOKEN="[API ACCESS TOKEN]"
LOG_LOCATION="logs/"
UUID_LOG_NAME="uuid.log"
COMPARE_LOG_NAME="comparison.log"
MODULE_LOG_NAME="uuid_module.log"
WORKSPACE_ID=[1014869735565188, 1498352056592260]
UUID_IDX_SHEET="8201274429597572"
UUID_COL="UUID"
UUID_IDX_COL_NAME="UUID Index"
UUID_SOURCE_JIRA_COL="UUID Source"
TASK_COL="Tasks"
DESCRIPTION_COL="Description"
STATUS_COL="Status"
ASSIGNEE_COL="Assigned To"
JIRA_COL="Jira Ticket"
SUMMARY_COL="Summary"
START_COL="Start"
FINISH_COL="Finish"
DURATION_COL="Duration"
PREDECESSOR_COL="Predecessors"
JIRA_IDX_SHEET="5366809688860548"
INDEX_COLUMNS=[uuid_idx_col_name, task_col, description_col, status_col, assignee_col, jira_col, duration_col, start_col, finish_col, predecessor_col]
JIRA_INDEX_COLUMNS=[uuid_idx_col_name, task_col, description_col, status_col, assignee_col, jira_col, duration_col, start_col, finish_col, predecessor_col]
SHEET_COLUMNS=[uuid_col, task_col, description_col, status_col, assignee_col, jira_col, duration_col, start_col, finish_col, predecessor_col, summary_col]
SYNC_COLUMNS=[status_col, assignee_col, task_col, start_col, duration_col]
